*{
  /* // selector universal* debe ir siempre al inicio del archivo de stilos para evitar los escrol horizontales */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* // con esto quito el scrol horizontal y me queda  la info del tamaño de la pantalla */
}

body {
  font-family: 'Russo One', sans-serif;
  background-image: url(./Assets/FondoLanding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: 'Russo One', sans-serif;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
