
   .welcomContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: #0c0b0cb0;
    padding: 10px;
    margin: 10px;
    border: 1px groove;
    border-radius: 10px;
    border-color:#2b2026 ;
    box-shadow: 3px 3px 3px 3px #9993975b;
    border-radius: 10px;
  }

  

  .titleContainer{
    font-family: 'Russo One', sans-serif;
    color: white;
    -webkit-text-stroke: 0.5px rgb(39, 37, 37);
    text-shadow: 3px 3px 2.5px rgba(8, 0, 0, 0.705);
  }

  .subTitleContainer{
    margin-top: 8px;
    font-family: 'Russo One', sans-serif;
    font-size: 12px;
    color: white;
    -webkit-text-stroke: 0.5px rgb(39, 37, 37);
    text-shadow: 3px 3px 2.5px rgba(8, 0, 0, 0.705);

  }

  .startButton{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 0.5px rgb(39, 37, 37);
    background-color: #08080850;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px 3px #9993975b;
    cursor: pointer;
  }

  .startButton:hover{
    background-color: #ccc;;
  }

  .logoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .logo{
    margin-top: 7px;
    margin-right: 10px;
}
